node_modules
.next/
.env.local
.env.production
supabase/migrations/
next.config.js
my_docs

# macOS system files
.DS_Store
**/.DS_Store

# Editor files
*.swp
*.swo
*~

# Temporary files
.temp
.tmp
*.temp
*.tmp

# Log files
*.log
logs/

# Project specific files
public/images/imgres.html
connect_to_fasthosts.ssh
server_memories.md
public/audio/walkalone.mp3
CLAUDE.md
