node_modules
.next/
.DS_Store
public/.DS_Store
public/images/.DS_Store
public/images/imgres.html
src/.DS_Store
.DS_Store
public/.DS_Store
.env.local
supabase/migrations/001_create_articles_table.sql
public/.DS_Store
supabase/migrations/004_add_article_views.sql
next.config.js
